<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrls>
  <serverUrl url="https://services9.arcgis.com/elhqBGXPli8ZlSXL/arcgis/rest/services/Zgloszenia/FeatureServer"
      name="Zgloszenia"
      clientId="ZFrEJTD7dzTzJczV"
      clientSecret="0e92505164664056bdc2d28ff5d351ed"
      rateLimit="600"
      rateLimitPeriod="60"
      matchAll="true"
      tokenServiceUri="https://www.arcgis.com/sharing/oauth2/token"

>
  </serverUrl>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
