<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrl url="https://services9.arcgis.com/elhqBGXPli8ZlSXL/arcgis/rest/services/Zgloszenia_zaakceptowane/FeatureServer"
https://services9.arcgis.com/elhqBGXPli8ZlSXL/arcgis/rest/services/Zgloszenia_zaakceptowane/FeatureServer/0
      clientId="cCm4VuqLeIBtwBBc"
      clientSecret="95dc23f5e40e4ca9a8d2f61aed80c1c3"
      rateLimit="600"
      rateLimitPeriod="60"
      matchAll="true">
  </serverUrl>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
